div.rp_family table.familygroup a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

div.rp_family table.familygroup a:link {
    color: #06c;
    text-decoration: none;
}

div.rp_family table.familygroup a:visited {
    color: #06c;
    text-decoration: none;
}

div.rp_family table.familygroup a:active {
    color: #06c;
}

div.rp_family table.familygroup a:hover {
    color: #06c;
    text-decoration: underline;
}

div.rp_family table.familygroup {
    border: 3px ridge brown;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

div.rp_family table.familygroup td {
    border: 2px ridge brown !important;
    padding: 3px 0px 3px 8px !important;
}

div.rp_family table.familygroup td.full {
    background-image: url("../images/familygroupSidebar.jpg");
    padding-right: 8px !important;
    padding-left: 8px !important;
    width: 70%;
}

div.rp_family table.familygroup td.child {
    background-image: url("../images/familygroupSidebar.jpg");
    padding-right: 8px !important;
    padding-left: 8px !important;
    width: 70%;
}

div.rp_family table.familygroup td.parent {
    padding-right: 8px !important;
    padding-left: 8px !important;
    width: 70%;
}

div.rp_family table.familygroup td.notes {
    padding-right: 8px !important;
    padding-left: 8px !important;
    width: 68%;
}

div.rp_family table.familygroup td.gender {
    background-image: url("../images/familygroupSidebar.jpg");
    font-weight: bold;
    text-align: center;
    padding: 0px 2px 0px 2px !important;
    width: 3%;
}

div.rp_family table.familygroup td.inset {
    padding: 0px 2px 0px 2px !important;
    background-image: url("../images/familygroupSidebar.jpg");
    width: 3%;
}

div.rp_family table.familygroup td.ref {
    padding-left: 0px !important;
}

div.rp_family table.familygroup td.date {
    padding: 0px 8px 0px 8px !important;
    width: 20%;
    font-size: smaller;
}

div.rp_family table.familygroup td.label {
    padding: 0px 8px 0px 8px !important;
    width: 10%;
    vertical-align:middle;
}
