.post div.personBanner {
padding: 3px 0px 3px 8px;
background-image: url(../images/personBanner.jpg);
color: black;
font-weight: bold;
font-size: larger;
}

.post table.personGallery {
margin-top: 10px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
border: 0 none;
border-collapse: separate;
border-spacing: 2px;
text-indent: 0;
}

.post table.personGallery td.picture {
border: 4px ridge brown;
padding: 1px;
}
.post table.personGallery td.picture img {
width: 100px;
}

.post table.personGallery td.picture a,
.post table.personGallery td.picture a img
{
text-decoration:none;
border: none;
vertical-align:top;
}


.post table.personGallery td.caption {
text-align: center;
width: 100px;
}

.post .truncate {
overflow: hidden;
}

.post div.headerBox {
padding: 25px 5px 5px;
float: left;
}

.post span.headerBox {
font-size: larger;
font-weight: bold;
color: black;
}

.post img.headerBox {
border: 4px ridge brown;
margin-bottom:10px;
margin-right:10px;
padding: 5px;
width: 100px;
text-align: center;
float: left;
}

.post span.place {
font-style:italic
}
